# your cosmosDB account name
AZURE_COSMOSDB_ACCOUNT=""
# your cosmosDB resource group name
AZURE_COSMOSDB_RESOURCE_GROUP=""
# your functoin managed identity object ID
ACKEND_IDENTITY_PRINCIPAL_ID=""
# your user account object ID
AZURE_PRINCIPAL_ID=""
# cosmosDB account custom role role definitionId
roleId=""
